body {
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 160%;
  vertical-align: baseline;
  color: #73737c;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


#blog-posts {
  padding: 5%;
}

#blog-posts ul {
  list-style: none;
}

.post {
  padding: 5%;
}

.post .post-title {
  text-align: center;
}

.post .post-content {
  padding: 0 23%;
}